@{
    //List<NF.EF.Model.TS_BUTTON> buttons = (List<NF.EF.Model.TS_BUTTON>)NF.Framework.Caching.Get("button");
    List<NF.EF.Model.TS_BUTTON> buttons = (List<NF.EF.Model.TS_BUTTON>)Request.RequestContext.HttpContext.Session["button"];
}
@{
    if (buttons != null && buttons.Count > 0)
    {
        if (buttons[0].C_MENU_ID == "7CF1D0573C4270FBE055000000000001")
        {
            buttons = buttons.ToList().OrderByDescending(x => x.N_INDEX).ToList();

            <div class="btn-group" style="float: right; margin-right: 5px;">
                <button type="button" class="btn btn-primary dropdown-toggle btn-xs"
                        data-toggle="dropdown">
                    执行 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var item in buttons)
                    {
                        <li class="disDropMenu" ><button disabled="disabled" id="@item.C_ID" class="aspNetDisabled btn  btn-link btn-sm" onclick="@item.C_CODE">@item.C_NAME</button></li>
                    }
                </ul>
            </div>
        }
        else
        {
            <div class="dv_btn">
                <ul>
                    @foreach (var item in buttons)
                    {
                        <li><button class="btn btn-warning btn-xs" onclick="@item.C_CODE">@item.C_NAME</button></li>
                    }
                </ul>
            </div>
        }
    }
}
